<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cartdemo</title>
    <link href="css/base.css" rel="stylesheet" >
</head>
<body>
<div id="app">
    <div class="container">
        <ul class="head clearfix">
            <li class="class-head-li1">商品信息</li>
            <li class="class-head-li2">商品金额</li>
            <li class="class-head-li3">商品数量</li>
            <li class="class-head-li4">总金额</li>
            <li class="class-head-li5">编辑</li>
        </ul>
        <ul class="info">
            <li class="info-li1 clearfix" v-for="product in productList">
                <div class="row1">
                    <a  class="check" v-bind:class="{'checked':product.checked}" v-on:click="selectedProduct(product)">check</a>
                    <div  class="imgs">
                        <img v-bind:src="product.productImage">
                    </div>
                    <ul class="theli">
                        <li v-test="product.productName"></li>
                        <li> </li>
                        <li> </li>
                        <li v-for="item in product.parts">赠送:   <span v-text="item.partsName"></span></li>
                    </ul>
                </div>
                <div class="row2">
                    <div class="thisMoney">{{ product.productPrice }}</div>
                </div>
                <div class="row3">
                    <div class="cartCount clearfix">
                        <a href="javascript:;" class="reduce" @click="changeMoney(product,-1)">-</a>
                        <input type="text"  v-model="product.productQuentity" disabled>
                        <a href="javascript:;" class="plus" @click="changeMoney(product,1)">+</a>
                    </div>
                </div>
                <div class="row4">
                    <div class="totalMoney">{{product.productPrice | formatMoney(product.productQuentity)}}</div>
                </div>
                <div class="row5">
                    <div class="ediet" @click="delConfirm(product)">删除</div>
                </div>
            </li>
        </ul>
        <ul class="bottom clearfix">
            <li class="bottom-row-left">
                <div  style="display:inline-block" @click="selectAll(true)">
                    <a class="check" :class="{'checked':checkAll}" >check</a>
                    <span class="choice-all">全选</span>
                </div>
                <span class="cansl-choice" @click="selectAll(false)">取消全选</span>
            </li>
            <li class="bottom-row-right">
                <dl>
                    <dd>item total:  <span class="item-total" v-text="totalMoney"></span></dd>
                    <dd>
                        <a class="jiezhang">结账</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="showModel" v-bind:class="{'thisShow':showModal}" @click.stop="">
        <a class="closebtn " @click="showModal=false">X</a>
        <div class="model-body">
            <p>你确认删除此订单信息吗?</p>
            <div class="model-bottom clearfix">
                <button class="btn-yes" @click="delCurrentProduct">yes</button>
                <button class="btn-no" @click="showModal=false;">no</button>
            </div>
        </div>
    </div>
    <div id="showOverLay" class="md-overlay" v-show="showModal"></div>
</div>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
<script src="js/cart2.js"></script>
</body>
</html>